@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0b0b0b;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  @apply inline-flex items-center gap-2 px-4 py-2 rounded-lg font-medium transition cursor-pointer justify-center;
}

.btn-primary {
  @apply text-white
  bg-[linear-gradient(180deg,#9a0f2a_0%,#7b0c22_100%)]
  ring-1 ring-[#e54a66]/30
  hover:brightness-110
  active:brightness-95;
}

.btn-secondary {
  @apply inline-flex items-center gap-2 rounded-lg px-4 py-2 font-medium transition
  text-white bg-[#9a0f2a]/40
  hover:bg-[#9a0f2a]/60 active:bg-[#9a0f2a]/80;
}

.btn-utility {
  @apply inline-flex items-center gap-1 rounded-md px-3 py-1.5 text-sm font-medium transition
         text-white bg-[#444] hover:bg-[#555] active:bg-[#666];
}

.btn-disabled {
  @apply inline-flex items-center gap-2 rounded-md px-3 py-1.5  font-medium
         text-gray-500 bg-[#1a1a1a] opacity-60 cursor-not-allowed;
}

.prose-tight {
  max-width: none;
  color: #e5e7eb;
  font-family: system-ui, sans-serif;
}

.prose-tight h1,
.prose-tight h2,
.prose-tight h3 {
  color: #f3f4f6;
  font-weight: 600;
  margin-top: 0.5rem;
  margin-bottom: 1.25rem;
}

.prose-tight p {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  line-height: 1.4;
  color: #e5e7eb;
}

.prose-tight strong {
  color: #f3f4f6;
  font-weight: 600;
}

.prose-tight code {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0.1rem 0.3rem;
  border-radius: 0.25rem;
  color: #f3f4f6;
  font-size: 0.875rem;
}

.prose-tight ul,
.prose-tight ol {
  margin-top: 0 !important;
  margin-bottom: 0.25rem !important;
  padding-left: 1.25rem !important;
  list-style-type: disc;
  color: #d1d5db;
}

.prose-tight li {
  margin: 0 !important;
  padding: 0 !important;
  line-height: 1.35 !important;
  color: #e5e7eb;
}

.prose-tight li + li {
  margin-top: 0.15rem !important;
}

.prose-tight li p {
  margin: 0 !important;
}
